<a href="{{ page.url | prepend:site.url }}#disqus_thread" class="show-comments">Comment</a>

<div id="disqus_thread"></div>

<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | prepend:site.url }}';
    this.page.identifier = '{{ page.id }}';
  };

  $(document).ready(function() {
    $('.show-comments').on('click', function(e){
      e.preventDefault();
      $.ajax({
        type: 'GET',
        url: '//c100.disqus.com/embed.js',
        dataType: 'script',
        cache: true
      });
      $(this).fadeOut();
    });
  });
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//c100.disqus.com/count.js" async></script>
