// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

.hair {
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  img {
    margin: 0;
    padding: 0 4px;
    width: auto;
    height: 16px;
  }
}

.social {
  display: inline-block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    opacity: 0.25;
    -webkit-transition: .1s linear opacity;
    -moz-transition: .1s linear opacity;
    transition: .1s linear opacity;

    &:hover {
      opacity: 1;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }
}

.search {
  display: inline-block;
  float: right;
  opacity: 0.25;
  -webkit-transition: .1s linear opacity;
  -moz-transition: .1s linear opacity;
  transition: .1s linear opacity;

  &:hover, &.searching {
    opacity: 1;

    #search {
      border-bottom-color: rgba(0,0,0,1);
    }
  }

  img {
    display: inline-block;
  }

  #search {
    background: transparent;
    border: 0;
    border-bottom: 3px solid rgba(0,0,0,0.4);
    outline: none;
  }
}